.lineL {
    margin: 4rem 0;
    border-radius: 10px;
    width: 100%;
    height: 0.2rem;
    background-color: var(--color-text);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 2s;
}

.line--animateL {
    transform: scaleX(1);
}

.space {
    display: none;
}
