.marquee {
  width: 100%;
  text-transform: uppercase;
  overflow: hidden;
  font-size: 10rem;
}

.marquee__wrap{
  text-decoration: none;
  height: 1rem;
}

.marquee__inner {
  padding: 0 !important;
  margin: 0 !important;
  margin-top: 0.5rem !important;
  width: fit-content;
  align-items: center;
  display: flex;
  position: relative;
  animation: marquee 35s linear infinite;
}

@media (min-width: 551px) {
  .marquee__inner {
    padding-top: 5.8rem;
    padding-bottom: 2.3rem;
  }
}

.marquee__inner span {
  white-space: nowrap;
  padding-left: 2rem;
  padding-right: 2rem;
}

.marquee__inner .inner-span {
  text-transform: uppercase;
  color: var(--color-text);
  position: relative;
  overflow: hidden;
}

@keyframes marquee {
  to {
    transform: translate3d(-50%, 0, 0);
  }
}

@media (max-width: 600px) {
  .marquee {
    font-size: 5rem;
  }
}
