.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#email{
    font-size: 2rem;
    text-align: center;
    color: var(--color-text-light);
}

.footer .redes{
    width: 100vw;
}
.footer .redes ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 3rem;
}
.footer .redes ul li{
    padding: 0 1rem;
}

.footer .redes ul li button{
    height: 3.5rem;
    width: 8rem;
    background-color: var(--color-transparent);
    color: var(--color-text);
    border: 2px solid var(--color-text);
    border-radius: 20px;
    transition: 0.2s;
}
.footer .redes ul li button:hover{
    cursor: pointer;
    background-color: var(--color-accent-green);
    color: var(--color-bg);
    border-color: var(--color-accent-green);
}
